body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-settings {
    border: 2px maroon solid;
    height: 60vh;
    width: 65vw;

    box-shadow: 0 8px 32px 0 rgba(194, 42, 42, 0.37);
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.left-container{
    border-right: 2px maroon solid;
    height: 59.5vh;
    width: 25vw;
    padding: 10px 0 0 120px;
}


.avatar-settings img{
    width: 80px;
    height: 80px;
    border-radius: 50%;   
}
.details{
    margin: 20px auto;
}
.details h5{
    font-size: 20px;
    font-weight: 500;
}

.right-container{
    height: 47vh;
    width: 39vw;
    /* border: maroon 2px solid; */

    position: absolute;
    right: 10px;
    top: 30px;    
}


.form-control-login {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: maroon solid;
    margin: 10px 0;
    padding: 5px;
   
}


.button-settings {
    position: absolute;
    right: 40px;

}

.form-group-settings {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin: 2px 0;
    box-shadow: 0 8px 32px 0 rgba(194, 42, 42, 0.37);
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: background 0.3s ease-in-out;
}

.form-group-settings:hover {
    background: rgba(255, 255, 255, 0.25); 
}


.toggle-settings .bx-edit-alt{
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 25%;
    cursor: pointer;
    transition: transform .2s ease-in;

}

.toggle-settings .bx-edit-alt:hover{
    transform: scale(1.0);
    color: maroon;
}

#password-toggle-icon{
    font-size: 30px;
    color: maroon;
    position: absolute;
    top: 39px;
    right: 30px;
}

#new-password-toggle-icon{
    font-size: 30px;
    color: maroon;
    position: absolute;
    top: 39px;
    right: 27.5px;
}



